extends layouts/layout

block title
  title KskPlay - FAQ || Красноуфимск

block content

  .logo
    h1
      a(href='/') #kskPlay
  .user-rating
    span Топ 3 игрока
    | <?php $mainFaq->getRatingTable(); ?>
  article.event
    p.text-center Привет, мой друг, почитай эту информацию, чтобы до конца ознакомится.
    p.text-justify.
        Если ты попал сюда, значит по всей видимости тебе как и многим энергичным людям живущим
        в Красноуфимске нечем занятся по вечерам. Я прекрасно понимаю, что прокатится по советской
        до Барабы или вокзала хочется из раза-в-раз, но...
    p.text-center.
        Я предлагаю тебе разнообразить свой досуг мини-загадками по городу!
    <?php renderFaq($db); ?>
