extends layouts/layout

block title
  title FindToys - FAQ || Красноуфимск

block content

  .logo
    h1
      a(href='/') #findToys
    .rating
      b Топ 3 игрока
      | <?php $mainFaq->getRatingTable(); ?>
  .event
    p Привет, мой друг, почитай эту информацию, чтобы до конца ознакомится.
    p.
      Если ты попал суда, значит по всей видимости тебе как и многим энергичным людям живущим
      в Красноуфимске нечем занятся по вечерам. Я прекрасно понимаю, что прокатится по советской
      до Барабы или ЖД.вокзала хочется из раза-в-раз, но...
    p.
      Я предлагаю тебе разнообразить свой досуг занятной квест игрой!
    <?php renderFaq($db); ?>
