$grey: #d2d2d2;
$grey2: #5d5d5d;
$blue: #c7f1ec;

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(/../../build/assets/styles/fonts/CabinSketch-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(/../../build/assets/styles/fonts/Comfortaa-Regular.ttf) format('truetype');

}

body {
  background: white;
  font-family: 'Comfortaa', cursive;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: $grey2;
  &:hover {
    color: #3a3737;
  }
}

.block {
  display: block;
}
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.link {
  display: inline-block;
  color: black;
  margin: auto;
  padding: 10px 7px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffffff;
  transition: background-color 0.3s;
  font-weight: bold;
  outline:none;
  &:hover {
    background-color: #e4e4e4;
    border-color: $grey2;
  }
}

.inp {
  display: inline-block;
  height: 20px;
  width: 86px;
  margin: 8px 5px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  border: 1px solid $grey;
  border-radius: 50px;
  outline:none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  &:focus {
    background-color: whitesmoke;
  }
}

.pic {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.icon-svg {
  display: inline-block;
  stroke-width: 0;
  fill: $grey2;
  margin-right: 5px;
  vertical-align: bottom;
}

.anim-svg {
  animation: animationSvg linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
}

.btn-code {
  font-weight: bold;
  display: none;
}

.wrap {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.logo {
  text-align: center;

  p {
    background-color: $blue;
    display: inline-block;
    margin: 5px 0;
  }
  h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.5rem;
    font-weight: normal;
  }
}

.inner {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 10px;
}

.user-form {
  margin-top: 10px;
  text-align: center;

  #form1{
    display: block;
    height: 115px;
  }
  &__msg{
    margin-top: 10px;
  }
  &__preloader {
    display: none;
  }
  &__btn {
    width: 230px;
    border: 1px solid $grey;
    margin: 0 auto;
    display: block;
  }
  span {
    font-weight: 700;
  }
}

.event {
  width: 90%;
  min-height: 350px;
  padding: 15px 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px dashed $grey2;
  border-top: 3px dashed $grey2;
  h2 {
    span {
      color: $grey2;
      margin-left: 15px;
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    flex-basis: 50%;
    margin-right: 10px;
    .user-win {
      font-weight: 700;
      color: #a52a2a;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 40px;
      li {
        padding: 10px 0;
        span {
          margin-right: 5px;
          text-transform: uppercase;
          font-weight: 700;
        }
        em {
          font-style: normal;
        }
        p {padding: 0 20px;}
      }
    }
  }
  &__pic {
    flex-basis: 50%;
    text-align: center;
  }
  .accordion {
    width: 100%;
    h4 {
      background-color: #c7f1ec;
      color: $grey2;
      padding: 10px 0 10px 10px;
      margin-bottom: 1px;
      text-align: left;
      cursor: pointer;
    }
    div {
      background-color: #eaeaea;
      text-align: left;
      padding: 20px;
      line-height: 1.6;
    }
  }
}

.user-rating {
  margin-top: 10px;
  text-align: center;
  span {font-weight: 700}
  #rating__table {
    width: 230px;
    border-collapse: collapse;
    text-align: left;
    th,td { padding: 2px 2px; }
    tbody {
      tr {border-top: 1px solid $grey;}
    }
  }
}

.bottom {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 9px;
    color: $grey2;
    &:nth-child(2) {
      font-size: 10px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .wrap {width: 95%;}
  .inner {
    flex-direction: column;
    align-items: center;
  }
  .event {
    &__info {
      flex-direction: column;
    }
    &__text {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .pic {
    width: 85%;
  }
  .btn-code {
    display: block;
  }

  .user-form #form1 {
    display: none;
  }

  .user-form>span {
    display: none;
  }


}

@media screen and (max-width: 575.98px) {
  .event__text ul {
    padding: 0;
  }
  .logo h1 {
    font-size: 2.5rem;
  }
}

@keyframes animationSvg{
  0% {
    transform:  rotate(0deg) ;
  }
  20% {
    transform:  rotate(15deg) ;
  }
  40% {
    transform:  rotate(-10deg) ;
  }
  60% {
    transform:  rotate(5deg) ;
  }
  80% {
    transform:  rotate(-5deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}