doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block title
    meta(name="description" content="Найди место и получи игрушку, Красноуфимск")
    meta(name="keywords" content="Красноуфимск, кск66, кск, развлечения,досуг,игра,места,мероприятия,игрушка")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/build/assets/styles/vendor.css")
    link(rel="stylesheet" href="/build/assets/styles/main.min.css")
    script(src="/build/assets/scripts/vendor.js")
  body
    .wrap

      block content

    footer.bottom
      ul.bottom__list
        li kskPlay.ru
        li
          a.block(href='faq.php') Куда я попал?
          a.block(href='history.php') История ивентов
        li Красноуфимск 2018

    script(src="/build/assets/scripts/main.min.js")