doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //link(rel="stylesheet" href="assets/styles/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch|Comfortaa', rel='stylesheet')
    link(rel="stylesheet" href="/build/assets/styles/main.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js")
    //script(src="assets/scripts/bootstrap.min.js")
  body
    .wrap

      block content

    footer.bottom
      ul.bottom__list
        li ©2018 FindToys
        li
          a(href='faq.php') Faq(ПРОЧИТАТЬ)
        li Красноуфимск

    script(src="/build/assets/scripts/main.min.js")