doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block title
    meta(name="description" content="Найди место и получи игрушку, Красноуфимск")
    meta(name="keywords" content="Красноуфимск, кск66, кск, развлечения,досуг,игра,места,мероприятия,игрушка")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/build/assets/styles/vendor.css")
    link(rel="stylesheet" href="/build/assets/styles/main.min.css")
    script(src="/build/assets/scripts/vendor.js")
    script(src='https://www.google.com/recaptcha/api.js', async='', defer='')
    script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter49248853 = new Ya.Metrika2({
                        id: 49248853,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks2");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/49248853', style='position:absolute; left:-9999px;', alt='')

  body
    .wrap

      block content

    footer.bottom
      ul
        li kskPlay.ru
        li Красноуфимск 2018
      ul
        li
          a(href='faq.php') Куда я попал?
        li
          a(href='history.php') История ивентов
    script(src="/build/assets/scripts/main.min.js")